<div class="newsletter kg-canvas u-text-format">
    <div class="inner">

        <h4>Skrevet av Simen Schikulski</h4>
        
        {{#get "pages" slug="om-meg" as |post|}} 
        {{#post}} 
        <div class="post-content"> {{content}} </div>
        {{/post}} 
        {{/get}}

    </div>
</div>