<div class="newsletter kg-canvas u-text-format">
    <div class="inner">

        <h4>Skrevet av Simen Schikulski</h4>
        <p>Jeg er en kær som liker å lese og finne ut av ting. Her deler jeg det jeg lærer.</p>
        <p><a href="#">Les mer om meg her</a> eller <a href="#">følg meg på LinkedIn.</a></p>


    </div>
</div>