{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
            {{> newsletter }}
        {{#is "post"}}
            {{> about }}
            {{> related}}
            {{> comment}}
        {{/is}}
    </main>
</div>